@import "variables";
@import "normalize";
@import "default";
@import "datepicker";
@import "check";
@import "radio";
@import "selectbox";
@import "slick";
@import "fancybox";
@import "popup";
@import "popover";
@import "scrollbar";
@import "template";
@import "animate";
@import "animations";
@import "hover";

/*!
 Main Page
 */

.bi-fullscreen-box {
  height: 100%;
  @include box-sizing(border-box);
  position: relative;
  z-index: 2;
  padding-bottom: $navigation-height;
  .bi-puzzle-grid {
    height: 100%;
  }
}

.bi-puzzle-row {
  height: 33.3333%;
}

.bi-puzzle {
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  .dtb {
    height: 100%;
    table-layout: fixed;
    position: relative;
    z-index: 2;
    text-decoration: none;
    .dtc {
      height: 100%;
      text-decoration: none;
    }
  }
  .inner-link {
    font-size: 35px;
    color: #232426;
    border: none;
    text-transform: uppercase;
    background: url(../images/dot.png) repeat-x 0 100%;
    &:hover {
      background: none;
      text-decoration: none;
    }
  }
  &:hover {
    .inner-link {
      color: #fff;
      transition: none;
      background: url(../images/dot-w.png) repeat-x 0 100%;
      @include transition(none);
    }
  }
}

.bi-puzzle-single {
  width: 33.3333%;
}

.bi-puzzle-double {
  width: 66.6666%;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    @include transition(opacity 0.5s linear);
    z-index: 1;
  }
  &:hover {
    &:before {
      opacity: .4;
    }
  }
}

.bi-puzzle-startups {
  background-color: #fff;
  &.hvr-rectangle-out:before {
    background-color: #69a745;
    z-index: 1;
    @include transition(none);
  }
  &:hover {
    .rocket-icon {
      background-image: url(../images/rocket-h.png);
    }
  }
}

.rocket-icon {
  width: 90px;
  height: 80px;
  margin: 0 auto 14px;
  display: block;
  background-image: url(../images/rocket.png);
}

.bi-puzzle-inner {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: bgzoom 1s;
  animation: bgzoom 1s;
  .dtc {
    width: 50%;
  }
}

@-webkit-keyframes bgzoom {
  0% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes bgzoom {
  0% {
    @include scale(1.2);
  }
  100% {
    @include scale(1.0);
  }
}

.bi-puzzle-investors {
  background-position: left top;
}

.bi-puzzle-residents {
  background-position: right center;
}

.bi-puzzle-questions {
  background: #e6ecef url('../images/pattern-grey.png') repeat;
  font-size: 25px;
  font-weight: 400;
  color: #232426;
  p {
    margin: 12px 0;
  }
  .xl-button {
    width: 200px;
    font-size: 17px;
    text-transform: uppercase;
  }
}

.bi-logo {
  background-color: #0a8bcc;
  color: #fff;
  font-size: 31px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -.3em;
  .dtc {
    letter-spacing: normal;
    position: relative;
    &:before,
    &:after {
      position: absolute;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 20px solid #e6ecef;
      border-right: 20px solid transparent;
      top: 0;
      left: 0;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 20px solid #fff;
      border-left: 20px solid transparent;
      bottom: -1px;
      right: -1px;
    }
  }
  #logo {
    display: inline-block;
    vertical-align: middle;
    width: 388px;
    height: 73px;
    margin: 0 5px 5px;
    background-image: url(../images/logo.jpg);
  }
}

.bi-puzzle-slider {
  background: #fff url('../images/pattern-grey.png') repeat;
  .puzzle-slider {
    height: 100%;
    .slick-list,
    .slick-track {
      height: 100%;
    }
  }
  .puzzle-slide {
    position: relative;
  }
  .puzzle-slide-time {
    padding: 20px;
    font-weight: 400;
    color: #7f7f7f;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }
  .puzzle-slide-img {
    float: left;
    margin-top: 6px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .puzzle-slide-content {
    margin-left: 87px;
    h3 {
      margin: 0 0 10px;
      font-weight: 400;
    }
    a {
      color: #282828;
    }
    p {
      line-height: 1.4;
      margin: 10px 0;
    }
  }
  .puzzle-slide-wrapper {
    padding: 0 14%;
  }
  .slick-arrow {
    margin-top: -5px;
    &.slick-prev {
      left: 7%;
      margin-left: -6px;
    }
    &.slick-next {
      right: 7%;
      margin-right: -6px;
    }
  }
}

.bi-section {
  padding: 53px 0;
  position: relative;
  z-index: 1;
}

.bi-dark-section {
  background-color: #e6ecef;
}

.bi-light-section {
  background-color: #fff;
}

.bi-puzzle-services {
  background-color: #e6ecef;
  .serv-icon {
    width: 83px;
    height: 77px;
    margin: 0 auto 17px;
    display: block;
    background-image: url(../images/serv.png);
  }
  .inner-link {
    font-size: 31px;
  }
  &.hvr-rectangle-out:before {
    background-color: #e35a2b;
    z-index: 1;
    @include transition(none);
  }
  &:hover {
    .serv-icon {
      background-image: url(../images/serv-h.png);
    }
  }
}

.bi-about-box {
  background-color: #f0f4f5;
}

.bi-about-box-chain {
  padding: 0 0 43px 3px;
}

.bi-chain-link {
  text-align: center;
  vertical-align: top;
  position: relative;
  margin-top: 9px;
  display: inline-block;
}

.bi-chain-link-icon {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #138fce inset;
  width: 96px;
  height: 96px;
  margin-bottom: 17px;
  position: relative;
  overflow: hidden;
  &:hover {
    .bi-anim {
      background-color: #138fce;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.bi-anim {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}

.bi-chain-link-icon-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.bi-chain-link-caption {
  font-size: 15px;
  color: #232426;
  margin: 0;
}

.bi-chain-link-arrow {
  &:after {
    content: '';
    position: absolute;
  }
}

.bi-chain-link-top-arrow {
  &:after {
    width: 58px;
    height: 13px;
    background: url(../images/top-arrow.png) no-repeat;
  }
}

.bi-chain-link-bottom-arrow {
  &:after {
    width: 57px;
    height: 14px;
    background: url(../images/bottom-arrow.png) no-repeat;
  }
}

.bi-chain-link-ideas {
  .bi-chain-link-icon-inner {
    background-image: url(../images/ideas.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/ideas-h.png);
      }
    }
  }
  &:after {
    top: 21%;
    left: 124%;
  }
}

.bi-chain-link-rating {
  margin-left: 20px;
  .bi-chain-link-icon-inner {
    background-image: url(../images/rating.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/rating-h.png);
      }
    }
  }
  &:after {
    top: 47%;
    left: 126%;
  }
}

.bi-chain-link-acceleration {
  margin-left: -38px;
  .bi-chain-link-icon-inner {
    background-image: url(../images/acceleration.png);
  }
  .bi-chain-link-caption {
    width: 210px;
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/acceleration-h.png);
      }
    }
  }
  &:after {
    top: 19%;
    left: 87%;
  }
}

.bi-chain-link-invest {
  margin-left: -47px;
  .bi-chain-link-icon-inner {
    background-image: url(../images/invest.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/invest-h.png);
      }
    }
  }
  &:after {
    top: 47%;
    left: 118%;
  }
}

.bi-chain-link-big {
  margin-top: 0;
  .bi-chain-link-icon {
    box-shadow: 0 0 0 2px #69a745 inset;
    width: 116px;
    height: 116px;
    margin-bottom: 6px;
    &:hover {
      .bi-anim {
        background-color: #69a745;
      }
    }
  }
}

.bi-chain-link-business {
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/business-h.png);
      }
    }
    .bi-chain-link-icon-inner {
      background-image: url(../images/business.png);
    }
  }
  .bi-chain-link-caption {
    width: 120px;
  }
}

.bi-about-smi-box-chain {
  margin: 34px 0;
}

.bi-smi-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 120px;
  margin-left: 20px;
  &:first-child {
    margin-left: 0;
  }
  .bi-smi-item-img {
    border-radius: 50%;
    border: 1px solid #414449;
    padding: 4px;
    background: #fff;
    width: 90px;
    height: 90px;
    margin: 0 auto 17px;
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  }
  figcaption {
    font-size: 15px;
    max-width: 120px;
  }
}

.bi-help-you {
  font-size: 45px;
  height: 278px;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .wrap {
    height: 100%;
  }
}

.bi-color-overlay-inner {
  background-color: rgba(10, 139, 204, .93);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1) inset;
  height: 100%;
  &.bi-color-second {
    background-color: rgba(105, 167, 69, .93);
  }
}

.bi-startup-support {
  background: url(../images/pattern-grey.png) repeat;
  font-size: 25px;
  font-weight: 400;
  padding: 53px 0;
}

.bi-startup-support-grid {
  margin: 34px 0;
}

.bi-startup-support-grid-cell {
  height: 192px;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  .dtb {
    table-layout: fixed;
    position: relative;
    z-index: 2;
    .dtc {
      padding: 0 40px;
    }
  }
  &.hvr-rectangle-out {
    &:before {
      z-index: 1;
    }
  }
  &:hover {
    .bi-startup-support-grid-cell-inner {
      @include scale(1.2);
    }
  }
}

.bi-startup-support-grid-cell-inner {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include transition(1s);
}

.bi-startup-support-dark {
  color: #232426;
}

.bi-startup-support-light {
  color: #fff;
}

.bi-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/grad.png) no-repeat;
}

.bi-startup-support-grid-single {
  width: 50%;
}

.bi-startup-support-grid-double {
  width: 100%;
}

.bi-startup-support-grad-item {
  width: 70%;
}

.bi-startup-support-training {
  .training-icon {
    width: 58px;
    height: 53px;
    margin-right: 12px;
    background-image: url(../images/training.png);
  }
  &.hvr-rectangle-out:before {
    background-color: #e35a2b;
  }
  &:hover {
    color: #fff;
    .training-icon {
      background-image: url(../images/training-h.png);
    }
  }
}

.bi-startup-support-accountant {
  .accountant-icon {
    width: 70px;
    height: 70px;
    margin: 16px 8px 0 0;
    background-image: url(../images/accountant.png);
  }
  &.hvr-rectangle-out:before {
    background-color: #69a745;
  }
  &:hover {
    color: #fff;
    .accountant-icon {
      background-image: url(../images/accountant-h.png);
    }
  }
}

.bi-banner {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bi-calendar {
  color: #232426;
}

.bi-calendar-box {
  border-bottom: 1px dashed #b0c0c8;
  margin-bottom: 40px;
}

.bi-calendar-header {
  border-width: 1px 0;
  border-style: dashed;
  border-color: #b0c0c8;
  background-color: #dde5e8;
  height: 34px;
  line-height: 34px;
}

.bi-calendar-month {
  background-color: #fff;
  position: relative;
  font-size: 21px;
  float: left;
  min-width: 118px;
  padding: 0 16px;
  &:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 0 0 11px;
    border-color: transparent transparent transparent #fff;
  }
}

.bi-calendar-slider {
  padding: 0 20px;
  .slick-arrow {
    opacity: .45;
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.bi-calendar-item {
  color: #232426;
  display: block;
  width: 84px;
  height: 84px;
  text-align: center;
  line-height: 1;
  float: left;
  @include transition(none);
  &:hover {
    color: #fff;
    background-color: #0a8bcc;
    text-decoration: none;
    .bi-calendar-item-day sup {
      color: #fff;
    }
  }
}

.bi-calendar-item-day {
  font-size: 35px;
  padding-top: 18px;
  position: relative;
  sup {
    font-size: 11px;
    color: #828282;
    position: absolute;
    top: 2em;
  }
}

.bi-partners-slider {
  padding: 0 27px;
  margin: 40px 0;
  margin: 39px 0 0 -17px;
  .slick-arrow {
    top: 70px;
    opacity: .45;
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.bi-partner-item {
  text-align: center;
  float: left;
  width: 140px;
  margin: 0 0 13px 13px;
  .bi-partner-item-img {
    background: #fff;
    width: 132px;
    height: 132px;
    margin: 0 auto 11px;
    border: 4px solid #e6ecef;
    img {
      width: 130px;
      height: 130px;
    }
    .bi-partner-item-img-inner {
      border: 1px solid #a3b3c4;
      height: 100%;
      width: 100%;
      @include box-sizing(border-box);
      a {
        display: block;
        height: 100%;
        border-radius: 50%;
        background: url('../images/no_photo.jpg') no-repeat center;
        background-size: cover;
      }
    }
  }
  figcaption {
    font-size: 11px;
    color: #000;
    p {
      margin: 3px 0;
      line-height: 1.3;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &:nth-child(6n+1) {
    clear: left;
  }
  &.slick-slide {
    &:nth-child(6n+1) {
      clear: none;
    }
  }
}

.bi-partner-item-img,
.bi-partner-item-img img,
.bi-partner-item-img-inner {
  border-radius: 50%;
}

.bi-contacts {
  position: relative;
  color: #fff;
  overflow: hidden;
  h2,
  .h2,
  .h3 {
    color: #fff;
  }
  h2 {
    margin-bottom: .5em;
  }
}

.bi-contacts-layer {
  position: absolute;
  height: 100%;
  top: 0;
}

.bi-contacts-sidebar {
  width: 41%;
  background-color: #0a8bcc;
  left: 0;
}

.bi-contacts-map {
  width: 59%;
  right: 0;
}

.bi-address-row {
  margin-bottom: 12px;
  line-height: 1.35em;
  .icon {
    float: left;
    margin: 3px 0 0 0;
  }
  .bi-address-content-box {
    margin-left: 24px;
  }
  a {
    color: #fff;
  }
}

.bi-address-location-icon {
  width: 12px;
  height: 15px;
  background-image: url(../images/location.png);
}

.bi-address-tel-icon {
  width: 14px;
  height: 14px;
  background-image: url(../images/tel.png);
}

.bi-address-email-icon {
  width: 14px;
  height: 10px;
  background-image: url(../images/email.png);
}

.bi-contacts-feedback {
  background-color: #0a8bcc;
  width: 223px;
  padding: 55px 27px 70px 0;
  .h2 {
    font-size: 33px;
  }
  input[type="submit"] {
    border-color: #fff;
    color: #fff;
    margin-top: 14px;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    margin: 5px 0;
    font-weight: 400;
    color: $primary-color;
    border-color: #0d7cb4;
    border-radius: 6px;
  }
  input {
    height: 40px;
  }
  textarea {
    resize: none;
  }
}

.bi-contacts-feedback-form {
  margin-top: 46px;
}

.bi-contacts-feedback-form-social {
  margin-top: 38px;
  .h3 {
    font-size: 19px;
    margin-bottom: 25px;
  }
}

.bi-social-ul {
  li {
    float: left;
    margin-left: 6px;
    width: 38px;
    height: 38px;
    margin-bottom: 0;
    a {
      display: block;
      height: 100%;
      background-repeat: no-repeat;
    }
  }
}

.vk {
  background-image: url(../images/vk.png);
}

.odk {
  background-image: url(../images/odk.png);
}

.fb {
  background-image: url(../images/fb.png);
}


/*!
 Residents Page
 */

#developmental-stage-styler,
#video-theme-styler {
  width: 354px;
}

#incubation-year-styler,
#video-year-styler {
  width: 185px;
}

.filterbox-item {
  margin-left: 8px;
  &:first-child {
    margin-left: 0;
  }
}

.bi-filterbox {
  margin: 1.8em 0;
  label {
    color: $second-color;
    line-height: 1.46;
  }
  .jq-selectbox {
    display: block;
    margin-top: 10px;
    vertical-align: bottom;
  }
  &.inline-filterbox {
    .jq-selectbox {
      margin: 0 0 0 9px;
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.bi-res-item-ul {
  margin: 30px 0 0 -24px;
}

.bi-item {
  display: inline-block;
  vertical-align: top;
  &.bi-res-item {
    width: 160px;
    margin: 0 0 30px 24px;
    &:first-child {
      margin-left: 24px;
    }
  }
}

.bi-item-img {
  a,
  img {
    display: block;
  }
}

.bi-res-item-img {
  border: 1px solid #bbd1d6;
  img {
    width: 158px;
    height: 158px;
  }
}

.bi-item-category {
  margin: -17px 0 15px;
  padding: 0 8px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  @include box-sizing(border-box);
  position: relative;
  z-index: 2;
  a {
    display: inline-block;
    padding: 8px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    min-width: 108px;
    max-width: 100%;
    @include box-sizing(border-box);
    background-color: #0a8bcc;
    &:hover {
      text-decoration: none;
    }
    &.bi-category-color01 {
      background-color: #69a745;
    }
    &.bi-category-color02 {
      background-color: #e27719;
    }
    &.bi-category-color03 {
      background-color: #1fadd0;
    }
  }
}

.bi-item-title,
.bi-item-title a {
  font-size: 17px;
  color: $second-color;
  font-weight: 400;
  margin: 15px 0;
}

.bi-item-descr {
  line-height: 1.46;
  font-size: 12px;
}

.bi-item-source {
  color: $third-color;
  margin: 10px 0;
}

.bi-item-type {
  color: $second-color;
}

.bi-banner-offer {
  height: 303px;
  background: #000;
  position: relative;
  margin-top: 55px;
  .bi-banner-offer-inner {
    opacity: .6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &.bi-banner-dark {
      opacity: .3;
    }
  }
  .bi-banner-offer-inner,
  .wrap,
  .dtb {
    height: 100%;
    text-align: center;
  }
}

.bi-banner-offer-txt {
  font-size: 44px;
  color: #fff;
}

.resident-want {
  .button {
    width: 240px;
  }
}


/*!
 Single Resident & Investor Page
 */

.bi-resident-page {
  h1,
  .h1 {
    margin: .57em 0;
  }
}

.bi-investor-page {
  h1,
  .h1 {
    margin: 0 0 0.1em;
  }
}

.resident-box {
  p {
    line-height: 1.65;
    color: $third-color;
  }
}

.resident-box-header {
  h2,
  .h2 {
    margin: .6em 0;
    line-height: 1.3;
  }
}

.bi-resident-image {
  width: 158px;
  height: 158px;
  border: 1px solid #e2e7e8;
  float: left;
}

.bi-resident-header-top,
.bi-investor-header-top {
  border-bottom: 1px dashed #e2e7e8;
  padding-bottom: 30px;
  margin-bottom: 22px;
}

.bi-resident-page,
.bi-investor-page {
  h2,
  .h2 {
    font-size: 19px;
  }
  .bi-basic-box {
    padding: 30px 40px;
    margin: 15px 0;
  }
}

.bi-resident-header-content,
.bi-investor-header-content {
  margin: 0 0 0 190px;
  padding-top: 4px;
}

.bi-investor-header-content {
  font-size: 15px;
  .dtb {
    height: 160px;
  }
}

.bi-investor-descr {
  color: #747982;
}

.bi-resident-header-column {
  float: left;
  width: 30%;
  font-size: 15px;
  dl {
    margin: 0;
  }
  &.bi-download-file {
    padding-left: 6px;
    width: 33%;
  }
}

.resident-item {
  padding: 20px 0 0 20px;
}

.pdf-icon {
  width: 38px;
  height: 38px;
  background-image: url('../images/pdf.jpg');
}

.bi-download-file {
  .pdf-icon {
    margin-right: 17px;
  }
  .file-size {
    margin-top: 5px;
  }
}

.bi-applicant-image-dtc {
  width: 120px;
}

.bi-applicant-image,
.bi-applicant-image img {
  width: 98px;
  height: 98px;
}

.applicant-box {
  .h1,
  h1 {
    margin-top: -12px;
  }
  .h2,
  h2 {
    margin: .15em 0;
  }
}

.bi-applicant-busy {
  font-size: 15px;
  color: $third-color;
}


/*!
 Mediateka Page
 */

.bi-mediateka {
  margin-bottom: 40px;
}

.all-link {
  margin-top: 11px;
  + h2 {
    margin-top: 0;
  }
}

.bi-media-video-box,
.bi-media-video-box iframe {
  width: 523px;
  height: 359px;
}

.bi-media-video-box {
  padding-top: 5px;
}

.bi-media-video-box-descr {
  margin-left: 554px;
  time {
    color: $third-color;
    display: block;
    margin: 0 0 12px;
  }
  h3 {
    font-size: 21px;
    font-weight: 400;
    color: #69717d;
    line-height: 1.2;
    .bi-media-video-author {
      color: $second-color;
      display: block;
      margin-bottom: 3px;
    }
  }
}

.bi-present-slider-wrapper {
  width: 813px;
  margin: 0 auto;
  .bi-present-slider {
    margin: -24px 0 0 -24px;
    .slick-arrow {
      width: 10px;
      height: 26px;
      top: 114px;
      &.slick-next {
        right: -25px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAaCAYAAACO5M0mAAAAV0lEQVR4AWOAgZLKJnsgDmDAAAgFMkC8H4j/A/ETIObApZADiJ+CFEJxLj5Tc0GKBtbUJ8imjppKscIcJEVPMaweNQ1nlFHVNFkgPoDbNEwNDkAciEseACJvAgA0VP5vAAAAAElFTkSuQmCC);
      }
      &.slick-prev {
        left: -1px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAaCAYAAACO5M0mAAAAVElEQVR4AWPABUoqmwKA2B7ExqeIA4ifAPF/IN4PxDK4FOaCFEHxU5BGvKZBcS79TXsywk0jrBDT6qdIinNA4lQ3ddTUXKqbegCIZfGZGgjEDjA+ANnQAgAqmsF6AAAAAElFTkSuQmCC);
      }
      &.slick-disabled {
        display: block !important;
        opacity: .5;
      }
    }
  }
}

.presentation-item,
li.presentation-item {
  width: 255px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  padding: 24px 0 0 24px;
  &.video-item {
    width: 266px;
    padding: 15px 0 0 20px;
  }
}

.bi-photo-gallery-list {
  margin: -28px 0 0 28px;
  .presentation-item {
    width: 277px;
    padding: 28px 0 0 28px;
    .presentation-item-time {
      margin: 4px 0;
      height: 19px;
    }
    .presentation-item-title {
      margin: 3px 0;
    }
    .bi-success-tale-img,
    .bi-success-tale-img img {
      width: 277px;
      height: 195px;
    }
    &.photo-gallery-big-item {
      float: left;
      width: 582px;
      .bi-success-tale-img,
      .bi-success-tale-img img {
        width: 582px;
        height: 513px;
      }
    }
  }
}

.presentation-item-img,
.presentation-item-img img {
  width: 255px;
  height: 185px;
  display: block;
}

.video-item-img,
.video-item-img img {
  width: 266px;
  height: 184px;
  display: block;
}

.video-item-img {
  position: relative;
}

.video-thumb-overlay {
  background-color: #000;
  background-color: rgba(0, 0, 0, .4);
  @include transition(all .5s ease-in-out);
  &:hover {
    background-color: rgba(0, 0, 0, 0);
    .video-thumb-overlay-play {
      background-color: rgba(255, 255, 255, .82);
      .video-play-icon {
        background-position: -55px 0;
      }
    }
  }
  .video-thumb-overlay-play {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    @include transition(all .5s ease);
    .video-play-icon {
      width: 100%;
      height: 100%;
      background: url('../images/play.png') no-repeat;
    }
  }
}

.presentation-item-img {
  margin-bottom: 15px;
  position: relative;
}

.presentation-item-time {
  color: $third-color;
  display: block;
  margin: 8px 0;
}

.presentation-item-title {
  color: $second-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin: .1em 0 .7em;
  a {
    @include transition(none);
    &:hover {
      color: #0a8bcc;
    }
  }
}

.business-books-ul {
  margin: -20px 0 0 -20px;
  letter-spacing: -.31em;
}

li.business-books-ul-item {
  width: 190px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  margin: 24px 0 0 24px;
}

.business-books-ul-item-img,
.business-books-ul-item-img img {
  width: 190px;
  height: 263px;
  display: block;
}

.business-books-ul-item-img {
  margin-bottom: 16px;
}

.business-books-ul-item-publisher {
  color: $third-color;
  margin: 10px 0;
}

.business-books-ul-item-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.bi-literature-separate-img {
  float: left;
  img {
    width: 200px;
    height: 286px;
  }
}

.bi-literature-separate-content {
  margin: 0 100px 0 237px;
  h2 {
    font-size: 25px;
    color: #000;
    margin-top: -7px;
  }
}

.bi-literature-separate-publisher {
  text-transform: uppercase;
  color: #79868d;
  margin: 1.5em 0;
}

.bi-literature-separate-book-about {
  color: #000;
  margin: 1em 0;
}

.bi-literature-separate-disclaimer {
  line-height: 1.6;
  color: $fourth-color;
  font-style: italic;
  margin-bottom: 1.4em;
  p {
    line-height: 1.6;
  }
}

.bi-literature-separate-content-header {
  font-size: 25px;
  color: $fourth-color;
  text-transform: uppercase;
  margin: .6em 0;
}

.bi-literature-separate-content-topic {
  margin-top: 1.6em;
  color: $fourth-color;
  h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #40484d;
  }
  p {
    line-height: 1.6;
    margin: 16px 0;
  }
}

.social-ul-list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  li {
    float: left;
    margin: 0 0 0 5px;
    a {
      display: block;
      width: 28px;
      height: 28px;
      background: url('../images/social.png') no-repeat;
      &.facebook {
        background-position: 0 0;
      }
      &.vk {
        background-position: -32px 0;
      }
      &.twitter {
        background-position: -64px 0;
      }
    }
  }
}

.bi-article-footer {
  margin-top: 20px;
  font-size: 15px;
  background-color: #f8f8f8;
  padding: 14px 20px;
  line-height: 28px;
  time {
    color: #989898;
    font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
    margin-top: 7px;
  }
}

.bi-presentations-list {
  margin: -24px 0 0 -24px;
  letter-spacing: -.31em;
  &.bi-video-list {
    margin-top: -15px;
  }
}

.bi-single-article {
  color: #4c5057;
  h2 {
    font-size: 25px;
    margin: .4em 0 1.4em;
  }
}


/*!
 State Support Page
 */

.bi-state-support-main-box {
  margin: 35px 0 68px -1px;
}

.bi-state-support-column {
  float: left;
  width: 290px;
  margin-left: 45px;
  &:first-child {
    margin-left: 0;
  }
}

.bi-state-support-column-main-types {
  border: 1px dashed #baced3;
  display: block;
  height: 231px;
  text-align: center;
  position: relative;
  margin-bottom: 49px;
  color: $primary-color;
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 21px 0 0 -7px;
    width: 14px;
    height: 9px;
    background: url('../images/down-arrow.png') no-repeat;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    padding: 0 20px;
  }
}

.bi-state-support-column-main-types,
.bi-state-support-column-sub-types {
  @include box-sizing(border-box);
}

.bi-state-support-column-main-types .dtc,
.bi-state-support-column-sub-types .dtc {
  &:hover {
    background-color: #fff;
    text-decoration: none;
  }
}

.bi-state-support-icon {
  display: block;
  margin: 0 auto 16px;
}

.prop-supp-icon {
  width: 76px;
  height: 70px;
  background: url('../images/prop-sup.png');
}

.fin-supp-icon {
  width: 77px;
  height: 70px;
  background: url('../images/fin-sup.png');
}

.inf-supp-icon {
  width: 71px;
  height: 70px;
  background: url('../images/inf-sup.png');
}

.bi-tt-title {
  font-size: 21px;
  text-transform: uppercase;
}

.bi-state-support-column-sub-types {
  border: 1px dashed #baced3;
  height: 90px;
  text-align: center;
  background-color: #ebeff0;
  font-size: 17px;
  margin: 19px 0;
  .dtc {
    padding: 0 50px;
    color: $primary-color;
    span {
      font-size: 25px;
      font-weight: 400;
      color: $second-color;
      display: block;
    }
  }
}

.bi-state-support-intro {
  margin-top: -11px;
}

.bi-support-wrapper {
  background-color: #fff;
  padding: 37px 0 0;
  text-align: justify;
}

.state-support-ul {
  li {
    border-width: 1px 0;
    border-style: solid;
    border-color: #dae5e7;
    &:first-child,
    &:last-child {
      border-width: 1px;
    }
    &.current {
      background: #fff;
      border-color: #fff;
      &:first-child {
        border-right-color: #dae5e7;
      }
      &:last-child {
        border-left-color: #dae5e7;
      }
    }
    i {
      float: left;
      margin: 0 18px 14px 0;
    }
    .bi-tt-title {
      font-size: 17px;
      margin: .85em 0;
      line-height: 1.2;
    }
    a {
      display: block;
      height: 100%;
      padding: 15px 0 15px 30px;
      @include box-sizing(border-box);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.bi-fin-support-banner {
  background-color: #f1f3f4;
  font-size: 25px;
  color: $second-color;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 272px;
  padding: 45px 245px 45px 45px;
  margin: 4px 0 28px;
  @include box-sizing(border-box);
}

.bi-fin-support-get {
  margin-top: 37px;
}

.fi-filterbox {
  width: 353px;
  margin-top: 20px;
  .filterbox-item {
    margin: 13px 0;
  }
}

.bi-consult-txt {
  margin-top: 60px;
  h3 {
    font-size: 15px;
  }
}

.fi-main-box {
  margin: 40px 0;
}

.fs-bi-title {
  font-size: 19px;
}

.fi-main-types {
  height: 160px;
  a {
    padding: 0 5px;
  }
}

.fi-sub-types {
  font-size: 15px;
  .dtc {
    padding: 0 10px;
  }
}


/*!
 Startups Page
 */

.bi-startups-anim-box {
  margin: 15px 0 60px 20px;
  float: left;
  letter-spacing: -.31em;
  white-space: nowrap;
  &.bi-investor-anim-box {
    margin-bottom: 11px;
  }
}

.bi-startups-anim-box:after {
  content: '';
  display: block;
  clear: both;
}

.startups-anim-item,
.startups-anim-item .bi-scalable-block,
.startups-anim-item .bi-rounded-block,
.startups-anim-item p.bi-bottom-title {
  @include transition-duration(400ms);
}

.startups-anim-item {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  white-space: normal;
  width: 197px;
  cursor: default;
  margin: 0 0 0 17px;
  @include transition-property (width);
  &.bi-investor-anim-item .bi-rounded-block:before {
    background-image: url(../images/investors.png);
  }
}

.startups-anim-item a {
  text-decoration: none;
  color: $primary-color;
}

.bi-startups-anim-box:hover .startups-anim-item {
  width: 146px;
}

.bi-startups-anim-box:hover .startups-anim-item:hover {
  width: 401px;
}

.startups-anim-item .cgc-scalable-block {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}

.bi-startups-anim-box:hover .startups-anim-item .bi-scalable-block {
  @include transform(scale(0.8));
}

.bi-startups-anim-box:hover .startups-anim-item:hover .bi-scalable-block {
  @include transform(none);
}

.startups-anim-item .bi-rounded-block {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 104px;
  height: 104px;
  border: 3px solid #4c5057;
  border-radius: 75px;
  overflow: hidden;
  -webkit-transition-property: padding, width, background-color;
  -moz-transition-property: padding, width, background-color;
  -ms-transition-property: padding, width, background-color;
  -o-transition-property: padding, width, background-color;
  transition-property: padding, width, background-color;
}

.startups-anim-item:hover .bi-rounded-block {
  padding: 20px 43px 20px 145px;
  width: 182px;
  background-color: white;
  border-color: #fff;
}

.startups-anim-item .bi-rounded-block:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 7px;
  width: 130px;
  height: 130px;
  background-image: url(../images/startups.png);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.startups-anim-item:hover .bi-rounded-block:before {
  background-color: #eff3f5;
}

.startups-anim-item.bi-pref-rent .bi-rounded-block:before {
  background-position: -5px -5px;
}

.startups-anim-item.bi-pref-rent:hover .bi-rounded-block:before {
  background-position: -285px -5px;
}

.startups-anim-item.bi-mentor-support .bi-rounded-block:before {
  background-position: -5px -145px;
}

.startups-anim-item.bi-mentor-support:hover .bi-rounded-block:before {
  background-position: -5px -285px;
}

.startups-anim-item.bi-state-support .bi-rounded-block:before {
  background-position: -145px -5px;
}

.startups-anim-item.bi-state-support:hover .bi-rounded-block:before {
  background-position: -285px -145px;
}

.startups-anim-item.bi-add-cap .bi-rounded-block:before {
  background-position: -145px -145px;
}

.startups-anim-item.bi-add-cap:hover .bi-rounded-block:before {
  background-position: -145px -285px;
}

.bi-investor-anim-item.bi-dealflow-rent .bi-rounded-block:before {
  background-position: -145px -5px;
}

.bi-investor-anim-item.bi-dealflow-rent:hover .bi-rounded-block:before {
  background-position: -5px -5px;
}

.bi-investor-anim-item.bi-project-access .bi-rounded-block:before {
  background-position: -145px -145px;
}

.bi-investor-anim-item.bi-project-access:hover .bi-rounded-block:before {
  background-position: -5px -145px;
}

.bi-investor-anim-item.bi-sindication .bi-rounded-block:before {
  background-position: -285px -145px;
}

.bi-investor-anim-item.bi-sindication:hover .bi-rounded-block:before {
  background-position: -285px -5px;
}

.bi-investor-anim-item.bi-law-support .bi-rounded-block:before {
  background-position: -145px -285px;
}

.bi-investor-anim-item.bi-law-support:hover .bi-rounded-block:before {
  background-position: -5px -285px;
}

.startups-anim-item .bi-title {
  margin-top: -11px;
  width: 182px;
  font-size: 17px;
  line-height: 19px;
  font-weight: 600;
  color: #282321;
  display: none;
  a {
    color: #282321;
    &:hover {
      text-decoration: none;
    }
  }
}

.startups-anim-item:hover .bi-title,
.startups-anim-item:hover .bi-description {
  display: block;
}

.startups-anim-item .bi-description {
  width: 182px;
  font-size: 13px;
  line-height: 19px;
  display: none;
}

.startups-anim-item .bi-bottom-title {
  position: relative;
  left: 50%;
  margin: 0 0 0 -86px;
  padding-top: 19px;
  width: 172px;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  color: $second-color;
  text-align: center;
  opacity: 1;
  @include transition-property(opacity);
}

.startups-anim-item:hover .bi-bottom-title {
  opacity: 0;
  cursor: default;
}

.bi-startup-top-box,
.bi-investor-top-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bi-startup-top-box {
  background-image: url("../images/gradient.jpg");
}

.bi-investor-top-box {
  background-image: url("../images/gradient-2.jpg");
}

.bi-startups-section,
.bi-state-to-investors {
  padding: 55px 0;
  h2 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.4em;
  }
  .m-button.button {
    margin-top: 50px;
  }
}

.bi-state-to-investors {
  padding: 11px 0px 60px;
}

.bi-startup-stage-item,
.bi-startup-stage-item-inner {
  background-color: #fff;
  position: relative;
  text-align: left;
  padding: 20px;
  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
  }
  ul {
    margin: 0;
    li {
      margin-bottom: 4px;
      padding-left: 14px;
    }
  }
}

.bi-startup-stage-item-inner {
  margin: 20px -20px 0;
  padding-bottom: 0;
  position: relative;
  border-top: 2px solid #f0f4f5;
  &:after,
  &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
  }
  &:before {
    border-color: rgba(240, 244, 245, 0);
    border-bottom-color: #f0f4f5;
    border-width: 11px;
    margin-left: -11px;
  }
}

.bi-startup-stage-column {
  margin-left: 32px;
  width: 240px;
  float: left;
  text-align: center;
  .bi-chain-link {
    width: 100%;
    &.bi-chain-link-top-arrow {
      &:after {
        top: 16%;
        left: 94%;
      }
    }
    &.bi-chain-link-bottom-arrow {
      &:after {
        top: 38%;
        left: 95%;
      }
    }
  }
  &:first-child {
    margin-left: 0;
  }
}

h3.bi-chain-link-caption {
  margin: .1em 0 1.7em;
}

.bi-chain-link-preincub {
  .bi-chain-link-icon-inner {
    background-image: url(../images/preincub.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/preincub-h.png);
      }
    }
  }
}

.bi-chain-link-incub {
  .bi-chain-link-icon-inner {
    background-image: url(../images/incub.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/incub-h.png);
      }
    }
  }
}

.bi-chain-link-postincub {
  margin-top: 0;
  .bi-chain-link-icon {
    border-color: #69a745;
    width: 116px;
    height: 116px;
    margin-bottom: 6px;
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/postincub-h.png);
      }
    }
    &:hover {
      .bi-anim {
        background-color: #69a745;
      }
    }
  }
  .bi-chain-link-icon-inner {
    background-image: url(../images/postincub.png);
  }
}

.bi-startup-column-wrapper {
  margin: 0 auto;
  text-align: center;
  .bi-startup-column-wrapper-inner {
    display: inline-block;
    vertical-align: top;
  }
}

.bi-startup-study {
  margin-top: -45px;
  text-align: center;
  li {
    width: 25%;
    @include box-sizing(border-box);
    padding: 0 10px;
    margin-top: 45px;
    vertical-align: top;
  }
}

.bi-chain-link-study-01 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st01.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st01-h.png);
      }
    }
  }
}

.bi-chain-link-study-02 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st02.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st02-h.png);
      }
    }
  }
}

.bi-chain-link-study-03 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st03.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st03-h.png);
      }
    }
  }
}

.bi-chain-link-study-04 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st04.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st04-h.png);
      }
    }
  }
}

.bi-chain-link-study-05 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st05.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st05-h.png);
      }
    }
  }
}

.bi-chain-link-study-06 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st06.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st06-h.png);
      }
    }
  }
}

.bi-chain-link-study-07 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st07.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st07-h.png);
      }
    }
  }
}

.bi-chain-link-study-08 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st08.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st08-h.png);
      }
    }
  }
}

.bi-chain-link-study-09 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st09.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st09-h.png);
      }
    }
  }
}

.bi-chain-link-study-10 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/st10.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/st10-h.png);
      }
    }
  }
}

.bi-add-partner {
  display: block;
  background: #69a745 url('../images/add.png') no-repeat center;
  @include transition (background-color .5s ease);
  &:hover {
    background-color: lighten(#69a745, 10%);
  }
  &:active {
    background-color: darken(#69a745, 10%);
  }
}

.bi-partner-item .bi-add-partner-caption {
  font-size: 21px;
  color: #69a745;
  font-weight: 400;
}

.bi-vacant-table {
  font-size: 15px;
  text-align: center;
  td,
  th {
    &:first-child,
    &:last-child {
      text-align: left;
    }
  }
}

.bi-chain-link-vac-01 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/vac01.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/vac01-h.png);
      }
    }
  }
}

.bi-chain-link-vac-02 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/vac02.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/vac02-h.png);
      }
    }
  }
}

.bi-chain-link-vac-03 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/vac03.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/vac03-h.png);
      }
    }
  }
}

.bi-chain-link-vac-04 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/vac04.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/vac04-h.png);
      }
    }
  }
}

.bi-competition-bar {
  background-color: #eff3f5;
  font-size: 15px;
  padding: 16px 21px;
  margin: 1em 0;
  .bi-column-2 {
    padding: 0 20px 0 0;
    dl {
      margin: 0;
      dd {
        &:after {
          height: 1px;
        }
      }
    }
  }
}

#competition-status-styler {
  width: 213px;
}

.bi-competition-table {
  th,
  td {
    &:first-child {
      padding-left: 40px;
    }
  }
  th {
    &:first-child {
      text-align: center;
      padding-left: 0;
    }
  }
  td {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.bi-office-view-wrapper {
  float: left;
  width: 460px;
  padding-bottom: 49px;
}

.bi-office-slider {
  text-align: center;
}

.bi-office-view-slider {
  border: 1px solid #e5e5e5;
  margin-bottom: 11px;
}

.bi-office-preview-slider {
  margin: 0 20px;
  .bi-preview-slide {
    cursor: pointer;
    img {
      border: 1px solid #e5e5e5;
      display: block;
    }
  }
  .slick-arrow {
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }
  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }
}

.bi-office-card-content {
  margin-left: 500px;
  font-size: 15px;
  h1 {
    margin-top: -10px;
  }
  .float-dl {
    margin-bottom: 18px;
    dt {
      width: 30.5%;
      @include box-sizing(border-box);
      padding-right: 15px;
    }
    dd {
      width: 69.5%;
    }
  }
}

.bi-popup-title {
  font-size: 21px;
  text-align: center;
  color: $second-color;
  font-weight: 400;
  margin-bottom: 20px;
}

.bi-success {
  text-align: center;
}

.success-icon {
  width: 50px;
  height: 37px;
  margin: 0 auto 10px;
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAlCAYAAAAA7LqSAAAAkElEQVR4Ae3Wtw2AMABEUcxuDMMUZhFqtiTTEE66ki8dOdp+zg1x6aeubPu47RUJeCCWa698xLZf9yUIACKIIIIIIoggWoYgiCCCCCKILcBBDEAshBhNSQg9NcC1iT1ghQEgfAwA4WMACB8DQPgYAMLHABA+BoDwMQ4CgTEQDAwNIRq1RqAwCoHECAQP8yfECsqrchS24C3DAAAAAElFTkSuQmCC) no-repeat;
}

.bi-success-thanks {
  font-size: 35px;
  margin: 7px 0;
}

.bi-success-txt {
  font-size: 17px;
  font-weight: 400;
}

.bi-chain-link-rent {
  .bi-chain-link-icon {
    width: 150px;
    height: 150px;
  }
}

.bi-chain-link-rent-01 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/rent01.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/rent01-h.png);
      }
    }
  }
}

.bi-chain-link-rent-02 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/rent02.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/rent02-h.png);
      }
    }
  }
}

.bi-chain-link-rent-03 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/rent03.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/rent03-h.png);
      }
    }
  }
}

.bi-chain-link-rent-04 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/rent04.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/rent04-h.png);
      }
    }
  }
}

.bi-chain-link-rent-05 {
  .bi-chain-link-icon-inner {
    background-image: url(../images/rent05.png);
  }
  .bi-chain-link-icon {
    &:hover {
      .bi-chain-link-icon-inner {
        background-image: url(../images/rent05-h.png);
      }
    }
  }
}

.bi-legal-rent-wrapper {
  .bi-startup-stage-column {
    margin-left: 18px;
    width: 226px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.bi-mentor-support-box {
  margin-bottom: 44px;
}

.mentor-support-box-inner {
  width: 132px;
  height: 344px;
  margin: 180px auto 0;
  position: relative;
}

.red-man {
  width: 47px;
  height: 125px;
  margin-bottom: 34px;
  background: url('../images/red-man.png') no-repeat;
}

.mentor-arrow {
  width: 10px;
  height: 15px;
  margin-bottom: 23px;
  background: url('../images/arrows.png') no-repeat;
}

.blue-man {
  width: 82px;
  height: 126px;
  background: url('../images/blue-man.png') no-repeat;
}

.mentor-absolute-box {
  position: absolute;
}

.mentor-absolute-box-cloud {
  padding: 8px;
  border: 1px solid #b2c3c7;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  font-size: 15px;
  color: $second-color;
  font-weight: 400;
  height: 62px;
  width: 102px;
  display: table-cell;
  vertical-align: middle;
}

.mentor-absolute-box-cloud-line {
  position: relative;
  border-style: dashed;
  border-color: #b2c3c7;
  border-width: 0;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
  &.border-right {
    border-right-width: 1px;
  }
  &.border-left {
    border-left-width: 1px;
  }
  &.border-top {
    border-top-width: 1px;
  }
  &.border-bottom {
    border-bottom-width: 1px;
  }
}

.mentor-absolute-box-01 {
  top: -154px;
  left: 4px;
  .mentor-absolute-box-cloud-line {
    width: 60px;
    height: 35px;
  }
}

.mentor-absolute-box-02 {
  top: -121px;
  left: -137px;
  .mentor-absolute-box-cloud-line {
    height: 75px;
    width: 74px;
    left: 60px;
  }
}

.mentor-absolute-box-03 {
  top: -121px;
  right: -133px;
  .mentor-absolute-box-cloud-line {
    height: 75px;
    width: 74px;
    right: 16px;
  }
}

.mentor-absolute-box-04 {
  top: -42px;
  left: -262px;
  .mentor-absolute-box-cloud-line {
    height: 16px;
    width: 199px;
    left: 60px;
  }
}

.mentor-absolute-box-05 {
  top: -42px;
  right: -338px;
  .mentor-absolute-box-cloud-line {
    height: 16px;
    width: 199px;
    right: 141px;
  }
}

.mentor-absolute-box-06 {
  top: 74px;
  left: -272px;
  .mentor-absolute-box-cloud {
    width: 122px;
  }
  .mentor-absolute-box-cloud-line {
    height: 16px;
    width: 199px;
    left: 70px;
  }
}

.mentor-absolute-box-07 {
  top: 74px;
  right: -328px;
  .mentor-absolute-box-cloud {
    width: 122px;
  }
  .mentor-absolute-box-cloud-line {
    height: 16px;
    width: 199px;
    right: 129px;
  }
}

.mentor-support-text-box {
  text-align: center;
  font-size: 25px;
  width: 75%;
  margin: 0 auto;
  .h2 {
    color: $second-color;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 9px;
  }
  p {
    line-height: 1.2;
    margin: 9px 0;
  }
  .button {
    margin: 16px 0;
    width: 260px;
  }
}

.bi-success-tales-list {
  margin: -28px 0 0 -33px;
}

li.bi-success-tale-item {
  padding: 28px 0 0 33px;
  .bi-success-item-title {
    margin: 3px 0;
  }
}

.bi-success-tale-img {
  margin-bottom: 0;
}

.bi-success-tale-category,
.bi-photo-category {
  margin: -20px 0 4px 8px;
  a {
    text-transform: none;
  }
}

.bi-success-tale-category {
  a {
    padding: 6px 17px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .15) inset;
    text-align: center;
    min-width: 74px;
  }
}

.big-select {
  font-size: 19px;
}

#big-year-filter-styler {
  width: 183px;
}

.bi-inv-item-ul {
  margin: -30px 0 0 -20px;
  .bi-inv-item {
    width: 176px;
    margin: 30px 0 0 20px;
    .bi-inv-item-category {
      margin: -22px 0 4px;
      a {
        background: #fff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14);
        font-size: 13px;
        min-width: 1px;
        padding: 7px 12px;
        &.bi-inv-color-01 {
          color: #de9a25;
        }
        &.bi-inv-color-02 {
          color: #1e87d8;
        }
        &.bi-inv-color-03 {
          color: #26b5e4;
        }
        &.bi-inv-color-04 {
          color: #dc5a2c;
        }
      }
    }
    .bi-inv-item-title {
      margin: 4px 0 2px;
      line-height: 1.3;
    }
  }
}

.bi-header-sup {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  background-color: #0a8bcc;
  border-radius: 8px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  padding: 0 14px;
}

.bi-state-to-investors {
  h2,
  .h2 {
    width: 60%;
    margin: 0 auto 0.5em;
  }
}

.bi-about-box {
  margin-bottom: 60px;
}

.about-puzzle-header {
  margin: 40px 0;
  h2,
  .h2 {
    font-size: 45px;
  }
}

.bi-about-puzzle-wrapper {
  margin: 50px 0;
}

.sun-icon {
  width: 82px;
  height: 83px;
  margin: 0px auto 14px;
  display: block;
  background-image: url('../images/sun.png');
}

.bi-about-puzzle-wrapper {
  height: 250px;
}

.bi-puzzle-hv {
  &:hover {
    background-color: #fff;
    .inner-link {
      color: $second-color;
      background: url(../images/dot-h.png) repeat-x 0 100%;
    }
  }
}

#calendar-events-styler {
  width: 214px;
}

.calendar-filterbox {
  font-size: 15px;
  margin-bottom: 31px;
  .filterbox-item {
    margin-left: 35px;
    &:first-child {
      margin-left: 0;
    }
  }
  input[type="submit"] {
    min-width: 120px;
    margin-left: 24px;
  }
}

.range-prefix {
  margin-left: 5px;
}

.bi-calendar-event {
  .dtc {
    padding: 17px 10px;
  }
}

.bi-calendar-event-ftl {
  width: 90px;
  text-align: center;
  .bi-calendar-item-day {
    padding: 0;
  }
  .bi-calendar-item-weekday {
    font-size: 15px;
  }
}

.bi-calendar-event-h2 {
  font-size: 23px;
  font-weight: 400;
  margin: 4px 0;
  &:first-child {
    margin: 4px 0;
  }
}

.bi-calendar-event-content-topic {
  margin: 6px 0;
  p {
    margin: 6px 0;
  }
  .read-less {
    display: block;
    text-align: right;
  }
}

.mini-map-icon {
  width: 14px;
  height: 18px;
  margin-right: 10px;
  background-image: url(../images/mini-map.png);
}

.bi-calendar-event-content-location {
  margin: 9px 0;
  a {
    text-decoration: none;
    span {
      border-bottom-width: 1px;
      border-bottom-style: dotted;
    }
    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }
  }
}

.bi-partners-banner {
  font-size: 37px;
  text-align: center;
  color: $second-color;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 376px;
  padding: 32px 500px 45px 45px;
  margin: 4px 0 28px;
  @include box-sizing(border-box);
  p {
    line-height: 1.2;
  }
  .button {
    width: 240px;
    margin-top: 18px;
    font-weight: 400;
  }
  input.form-box-input,
  textarea {
    width: 312px;
    display: block;
    margin: 6px auto;
  }
  textarea {
    resize: none;
  }
}

.bi-partners-section {
  padding-top: 16px;
  .bi-partners-slider {
    margin-top: 30px;
  }
}

.bi-about-event-date {
  width: 200px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
  padding: 18px;
  color: $second-color;
  float: left;
}

.bi-event-main-info {
  margin-bottom: 21px;
}

.bi-about-event-box {
  height: 274px;
  overflow: hidden;
  @include box-sizing(border-box);
}

.bi-about-event-date-top {
  text-align: center;
  padding-bottom: 22px;
}

.bi-time-big {
  font-size: 21px;
  span {
    font-weight: 400;
    font-size: 45px;
    display: block;
  }
}

.bi-about-event-date-bottom {
  padding: 19px 2px;
  border-top: 1px dashed #d2dee1;
}

.bi-about-event-date-bottom-content {
  margin-left: 23px;
  line-height: 1.5;
}

.bi-about-event-map {
  float: right;
  width: 740px;
  border: 2px solid #fff;
}

.bi-about-event-programm {
  position: relative;
  height: 288px;
  overflow: hidden;
  border: 1px solid #d2dee1;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 114px;
    background: url('../images/blur.png') repeat-x bottom;
    @include transition(opacity .5s ease);
    pointer-events: none;
  }
  &.expanded {
    &:after {
      opacity: 0;
    }
  }
}

.event-programm-dl {
  margin: 0;
  >dt,
  >dd {
    margin-bottom: 13px;
  }
  > dt {
    width: 12.3%;
    font-size: 15px;
    color: #747982;
  }
  > dd {
    width: 80%;
    &:last-child {
      margin-bottom: 0;
    }
    dl {
      margin: 4px 0;
      dd {
        &:after {
          height: 2px;
        }
      }
    }
  }
}

.bi-event-programm-title {
  text-transform: uppercase;
  font-size: 21px;
  color: $second-color;
  font-weight: 300;
  line-height: 1.2;
}

.bi-event-heading {
  font-size: 23px;
  font-weight: 300;
  margin: .8em 0;
}

.bi-about-event-programm-inner {
  padding: 32px;
}

.bi-about-event-programm-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.solid-button {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding: 0 25px;
  color: $primary-color;
  &:hover {
    text-decoration: none;
  }
}

.toggler-wrapper {
  margin-top: -16px;
}

.bi-about-event-programm-info {
  font-size: 15px;
  color: $second-color;
  margin-bottom: 50px;
  p {
    margin: 6px 0;
  }
  ul {
    margin: 6px 0;
    li {
      background: transparent;
      font-size: 13px;
      color: $primary-color;
      padding-left: 22px;
      margin-bottom: 2px;
    }
  }
}

.bi-album-view-slider-wrapper {
  position: relative;
  .bi-photo-category {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    max-width: 90%;
    z-index: 2;
  }
}

.bi-album-view-slider {
  .slick-arrow {
    width: 14px;
    height: 32px;
    margin-top: -16px;
    &.slick-next {
      right: 17px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAgCAQAAACI54EcAAAAXElEQVR4AWMAgf+h/zMYsIH/fP9X/f////t/bWySzP9P/gcCIMmMTVr7/w+wdBl2oyvAkj9GjYZJV9LGaIRkBWnG/i+HOYiuRpaTaGTFgBhZRshIzIyEK3LxZkEArisPKPMq26cAAAAASUVORK5CYII=) no-repeat;
    }
    &.slick-prev {
      left: 17px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAgCAQAAACI54EcAAAAYUlEQVR4AWPABv5n/g8FUliltP//+P///6r/fJhSzP9P/gcCIMmMKVkOkgHq1cZuJAiUD0sjK+hiJEKyCiz5HS5J2FhMB5Vhj/tKWhv9gxZGV1DB6HLsRpeTbzQiI+HNggCGuQ8tDemJUwAAAABJRU5ErkJggg==) no-repeat;
    }
  }
  .bi-view-slide {
    a {
      display: block;
      background: #000;
      img {
        max-width: 880px;
        max-height: 550px;
      }
    }
  }
}

.bi-album-preview-slider {
  margin-top: 20px;
  margin-left: -9px;
  .bi-preview-slide {
    padding-left: 9px;
    @include box-sizing(border-box);
  }
}

.bi-preview-slide-overlay {
  position: relative;
  .bi-preview-slide-overlay-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    @include transition(opacity .5s ease-in-out);
    background-color: rgba(39, 52, 56, .6);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAQAAAADHm0dAAAA+ElEQVR4AZ3Sw2FtURiG4WujjEt0cBV2ElQQq4uzh2calBCjgwgFxDaecB37myy96/ejpPwXs+TUqSUxVY9yy2cjMjXiczb4xx7WtfrhpZd+aLWOPX8yLe5g0Me0248GsJNi2WMzGPI4y9djg5gRXlRj3YcAmDAR9j5YQ3U4RuhKsYWUUyuicFjGr7zoDyyHwylePrhO1cTd3QucBnQvDzp5d/cuFZ0vGMBPrIRDvGha8XCow1pasSYzilWb3oLBIi0o0thxHPmSb1y+e+6F7w/jwpXm7CGckakZfa5ywY/Viqw4c2BOpNbjm9vmABdXRXB9aXCjNVXXIQlcQ/6wmswAAAAASUVORK5CYII=);
  }
  &:hover {
    .bi-preview-slide-overlay-inner {
      opacity: 1;
    }
  }
}

@import "media-queries";
