// Input:checkbox
.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: 0 4px 0 0;
  border: 1px solid #a8aeb8;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  &.checked {
    .jq-checkbox__div {
      width: 9px;
      height: 7px;
      margin: 3px 0 0 2px;
      border-color: #7d8492;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAYAAADam2dgAAAAPElEQVR4AWPABSr2BIgCcQayQAZIEE3BFSD+D8Q5DCACxIEKiiIUIMQY0AUxFGA3HlMBpkJMBZgKsSkAAIZTS8yMvAqSAAAAAElFTkSuQmCC);
    }
  }
  &.focused {
   border: 1px solid $input-focused-border-color;
      box-shadow: 0 0 0 3px rgba(10, 139, 204, .1);
  }
  &.disabled {
    opacity: .55;
  }
}