/* ==========================================================================
   Default styles
   ========================================================================== */

html.mobile * {
  max-height: 1000000px;
}

a {
  color: #0a8bcc;
  @include transition(color 0.5s linear);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  &.js-only {
    -webkit-touch-callout: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.inverted-link,
.more-link,
.less-link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.inner-link {
  text-decoration: none;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  &:hover {
    border-bottom-color: transparent;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 12px 0px;
  text-align: left;
  &.noborder {
    td,
    th {
      padding: 2px 11px;
      border-color: transparent;
      &:first-child {
        padding: 2px 17px 0 0;
      }
    }
    th {
      padding-bottom: 15px;
    }
  }
}

.tlf {
  table-layout: fixed;
}

td,
th {
  vertical-align: top;
  padding: 10px;
  line-height: 1.5;
  border: 1px solid #dae5e7;
  @include box-sizing(border-box);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

small {
  font-size: 11px;
  &.min {
    font-size: 9px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
th {
  font-weight: 300;
  color: #282828;
  &:first-child {
    margin-top: 0;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  a {
    color: $second-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1,
.h1 {
  font-size: 35px;
  color: #151922;
}

h2,
.h2 {
  font-size: 35px;
  margin: .65em 0;
}

h3,
.h3 {
  font-size: 17px;
  margin: 1.4em 0;
  font-weight: 400;
}

h4,
.h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: .9em;
}

h5,
.h5 {
  font-size: 13px;
  margin: 1em 0;
}

h6,
.h6 {
  font-size: 13px;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
}


/* Placeholder styles */

input.placeholder {
  line-height: $input-height;
}

.placeholder {
  color: ($placeholder-color !important);
}

*:-ms-input-placeholder {
  color: ($placeholder-color !important);
}

*::-webkit-input-placeholder {
  color: ($placeholder-color !important);
}

*:-moz-placeholder {
  color: ($placeholder-color !important);
  opacity: 1;
  -moz-opacity: 1;
}

*::-moz-placeholder {
  color: ($placeholder-color !important);
  opacity: 1;
  -moz-opacity: 1;
}

input::-ms-clear {
  display: none;
}


/* Label styles*/

label {
  cursor: pointer;
  &.block-label {
    &::after {
      content: '\A';
      white-space: pre;
    }
  }
}


/* Forms */

input,
textarea,
button {
  @include box-sizing(border-box);
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  vertical-align: middle;
  width: auto;
  color: $input-color;
  font: 400 $primary-font-size $font-stack;
  height: $input-height;
  padding: 0 $input-padding;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  &:focus {
    border-color: $input-focused-border-color;
  }
  &.error {
    border-color: $input-error-border-color;
  }
}

textarea {
  width: 100%;
  height: 95px;
  color: $input-color;
  font: 400 $primary-font-size $font-stack;
  overflow: auto;
  padding: 11px $input-padding;
  resize: vertical;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  &:focus {
    border-color: $input-focused-border-color;
  }
  &.error {
    border-color: $input-error-border-color;
  }
}

input[type="submit"],
input[type="button"],
button,
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  color: #0a8bcc;
  border-radius: 4px;
  text-align: center;
  min-width: 200px;
  font: 700 $primary-font-size $font-stack;
  border: 2px solid #0a8bcc;
  border-radius: 6px;
  height: $input-height;
  padding: 0 20px;
  background: transparent;
  @include transition(background-color .2s ease-out);
  @include box-sizing(border-box);
  &:hover {
    background-color: $button-hover-bg-color;
    border-color: $button-hover-border-color;
    color: $button-hover-color;
    text-decoration: none;
  }
  &:active {
    background-color: $button-active-bg-color;
    border-color: $button-active-bg-color;
    color: $button-active-color;
  }
  &.input-color-01 {
    color: #69a745;
    border-color: #69a745;
    &:hover {
      background-color: #69a745;
      color: #fff;
    }
    &:active {
      background-color: darken(#69a745, 10%);
      border-color: darken(#69a745, 10%);
      color: #fff;
    }
  }
  &.input-color-02 {
    color: #fff;
    border-color: #fff;
    &:hover {
      background-color: #fff;
      color: #232426;
    }
    &:active {
      background-color: #e6e6e6;
      border-color: #e6e6e6;
      color: #232426;
    }
  }
  &.xl-button {
    height: $input-xl-height;
    font-size: 19px;
  }
  &.m-button {
    height: $input-m-height;
    font-size: 17px;
  }
}

a.button {
  line-height: $input-height - 4;
}

a.xl-button {
  line-height: $input-xl-height - 4;
}

a.m-button {
  line-height: $input-m-height - 4;
}

select {
  color: #000;
}

input:disabled,
textarea:disabled,
select:disabled {
  border-color: #000;
  color: #bebebe;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 3px;
  vertical-align: middle;
}

input[type="search"] {
  background: #fff url('../images/sprite/search.png') no-repeat right center;
  padding-right: 40px;
}

*::-webkit-file-upload-button {
  cursor: pointer;
}

:focus {
  outline: 0 !important;
}


/* Often classes */

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
}

.vat {
  vertical-align: top;
}

.vab {
  vertical-align: bottom;
}

.jstf {
  text-align: justify;
}

.cntr {
  text-align: center;
}

.lft {
  text-align: left;
}

.rght {
  text-align: right;
}

.clb {
  clear: both;
}

.cll {
  clear: left;
}

.clr {
  clear: right;
}

.ftl {
  float: left;
}

.ftr {
  float: right;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

.dblock {
  display: block;
}

.dib {
  display: inline-block;
  line-height: 1;
}

.i-b-top {
  display: inline-block;
  vertical-align: top;
}

.nowrap {
  white-space: nowrap
}

.noborder {
  border: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  + span {
    vertical-align: middle;
  }
}

.responsive {
  max-width: 100%;
  height: auto;
}

.cont-img {
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.dtb {
  display: table;
  width: 100%;
  height: 100%;
}

.dtr {
  display: table-row
}

.dtc {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.relat {
  position: relative;
}

.dark {
  background: #eef0f4;
}

.small {
  font-size: 11px;
}

.block-align {
  margin: 0 auto;
}

.fixed {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  @include box-sizing(border-box);
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include box-sizing(border-box);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  font-size: 0;
}

.dib-box {
  letter-spacing: -.31em;
  > * {
    letter-spacing: normal;
    display: inline-block;
  }
}

.equal {
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  letter-spacing: -.3em;
}

.equal > * {
  line-height: normal;
  font-size: $primary-font-size;
  letter-spacing: normal;
  display: inline-block;
}

.equal:after {
  content: "";
  width: 100%;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  display: inline-block;
}

.row {
  margin: 30px 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-wh {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  min-width: $wrapper-min-width;
  max-width: $wrapper-max-width;
  position: relative;
  @include box-sizing(border-box);
}


/* List styles */

ul,
ol,
dl {
  margin: 13px 0;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  margin: 12px 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  li {
    padding-left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAICAYAAAAx8TU7AAAAMklEQVR4AWMAAZ+A8AwgFgWxYQI5QPwfiK/AJYAMMZAAIYnLMEFRZNUYAiA+VouwOgkAz+ktOCP4SEUAAAAASUVORK5CYII=) no-repeat 0 6px;
  }
}

ul li {
  position: relative;
  padding-left: 17px;
}

ul li,
ol li {
  margin: 0 0 12px;
}

.inline-dl {
  li {
    float: left;
    padding: 0;
  }
}

.clear-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
    background-image: none;
  }
}

dl {
  dt,
  dd {
    display: inline;
  }
  dt {
    font-weight: 400;
    color: $second-color;
  }
  dd {
    margin-left: 0;
    &:after {
      content: '\A';
      white-space: pre;
      display: block;
      height: 9px;
      line-height: 1.4;
    }
    &:last-child:after {
      content: none;
    }
  }
}

dd ul,
dd li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

dd li {
  &:after {
    content: ',';
  }
  &:last-child:after {
    content: none;
  }
}

.float-ul {
  > li {
    padding: 0;
    margin: 0;
    float: left;
  }
}

.float-dl {
  > dt {
    color: #747982;
    font-weight: 300;
    clear: left;
    padding-right: 5px;
  }
  > dt,
  > dd {
    margin: 0 0 8px;
    font-weight: 400;
    float: left;
  }
}

.inline-dl {
  > dt {
    color: #747982;
    font-weight: 300;
  }
  > dt,
  > dd {
    display: inline;
    margin: 0;
    font-weight: 400;
  }
}

.inverted-dl {
  > dt {
    font-weight: normal;
  }
  > dd {
    font-weight: 700;
  }
}

.bg-animate {
  .bg-animate-inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include transition(1s);
    height: 100%;
  }
  &:hover {
    .bg-animate-inner {
      @include scale(1.2);
    }
  }
}

.bi-basic-box {
  background-color: #fff;
  margin: 20px 0;
  padding: 30px 40px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .09);
  &.right-link-box {
    padding: 18px 30px 40px;
    > h2 {
      margin: 0 0 .55em;
      font-size: 31px;
    }
  }
  &.bi-literature-separate {
    padding: 40px 35px;
  }
}

.color-01 {
  background-color: #dc5a2c;
}

.color-02 {
  background-color: #26b5e4;
}

.color-03 {
  background-color: #de9a25;
}

.color-04 {
  background-color: #1e87d8;
}

.color-05 {
  background-color: #dec225;
}

.color-06 {
  background-color: #d849e1;
}

.color-07 {
  background-color: #69d81e;
}

.bi-tags-ul {
  margin: 25px 0 30px -5px;
  li {
    float: left;
    .bi-tag {
      display: block;
      font-size: 15px;
      margin: 5px 0 0 5px;
      text-align: center;
      height: 36px;
      line-height: 36px;
      padding: 0 10px;
      color: #fff;
      border-radius: 4px;
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .15) inset;
      min-width: 104px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

h1 + .bi-tags-ul {
  margin-top: -4px;
}

.bi-column-wrapper {
  margin: -20px 0 0 -20px;
}

.bi-pattern-box {
  background: url("../images/pattern-grey.png") repeat;
}

.bi-column {
  float: left;
  @include box-sizing(border-box);
}

.bi-column-2 {
  width: 50%;
}

.bi-column-3 {
  width: 33.33333%;
}

.bi-column-4 {
  width: 25%;
}

.bi-table {
  td,
  th {
    border-width: 0 0 1px;
    border-style: dashed;
    border-color: #c0c6d2;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    &:first-child {
      padding-left: 7px;
    }
  }
  th {
    color: $third-color;
  }
}

.sm-title {
  font-size: 25px;
}
