//max-width: 1279px;
@media only screen and (max-width: 79.9375em) {
  .bi-logo {
    font-size: 23px;
  }
  .bi-puzzle {
    .inner-link {
      font-size: 25px;
    }
  }
  .bi-puzzle-slider {
    .puzzle-slide-time {
      padding: 2px;
    }
  }
  .left-navigation-toggler {
    width: 18px;
  }
}

//max-width: 1439px
@media only screen and (max-width: 89.9375em) {
  #left-navigation {
    left: -$left-navigation-width;
  }
  .left-navigation-toggler {
    display: block;
  }
}