/*--Popubottom:--*/

.popup {
  display: none;
}

.popup .popup-inner {
  background: #f0f4f5;
  margin: 0 auto;
  position: relative;
  padding: 35px;
}

.add-popup {
  width: 400px;
  font-size: 15px;
  input,
  select,
  .jqselect,
  textarea {
    display: block;
    font-size: 15px;
    width: 100%;
    margin: 5px 0;
  }
  textarea {
    max-height: 103px;
  }
  input[type='submit'] {
    width: 240px;
    margin: 20px auto 0;
  }
}

.b-close {
  width: 15px;
  height: 15px;
  opacity: .5;
  position: absolute;
  right: 11px;
  top: 11px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAZklEQVR4AWNIzSpeC8RODMQDkB5nkD4Y4zWRBiCrdwHxiTYAJA/TiMtEJwIanQk5yYmgRkI24NdI2IAKuEZSAFTjfxANEyPTZkQYkOtnJ4IaCYU2KRoJG4CpkbCX4AJkpm1ninIVALlEjfT1IwLzAAAAAElFTkSuQmCC') no-repeat;
  cursor: pointer;
  z-index: 2;
}

.b-close:hover {
  opacity: 1;
}