// Input:radio
.jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  background: #f5f5f5;
  cursor: pointer;
  &.checked {
    .jq-radio__div {
      width: 10px;
      height: 10px;
      margin: 3px 0 0 3px;
      border-radius: 50%;
      background: #777;
    }
  }
  &.jq-radio.focused {
    border: 1px solid #08c;
  }
  &.jq-radio.disabled {
    opacity: .55;
  }
}