$body-background: #f7f6f5;
$body-invert-background: #fff;
$body-min-width: 1000px;
$body-max-width: 2560px;
$header-bg-color: #fff;
$header-color:#000;
$header-link-color:#000;
$navigation-li-height: 58px;
$sub-nav-height: 44px;
$primary-color: #4c5057;
$second-color: #232426;
$third-color: #747982;
$fourth-color: #79868d;
$placeholder-color: #747982;
$font-stack: 'Ubuntu',
'Helvetica',
'Arial',
sans-serif;
$primary-font-size: 13px;
$primary-font-weight: 300;
$primary-line-height: 1.5;
$wrapper-min-width: 960px;
$wrapper-max-width: auto;
$input-height: 35px;
$input-xl-height: 50px;
$input-m-height: 55px;
$input-color: #000;
$input-bg-color: #fff;
$input-padding: 12px;
$input-border-radius: 2px;
$input-disabled-color: inherit;
$input-disabled-bg-color: inherit;
$input-disabled-border-color: inherit;
$input-border-color: #c0c6d1;
$input-hover-border-color: inherit;
$input-focused-border-color: #c0c6d1;
$input-error-border-color: #f00;
$selectbox-selected-color: inherit;
$selectbox-selected-bg-color: inherit;
$button-hover-border-color:#0a8bcc;
$button-hover-bg-color:#0a8bcc;
$button-hover-color:#fff;
$button-active-border-color:#0878b0;
$button-active-bg-color:#0878b0;
$button-active-color:#fff;
$navigation-height: 80px;
$footer-height: 80px;
$left-navigation-width: 205px;
$left-nav-color: #43585e;
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin column-count($width, $gap, $count) {
  -moz-column-width: $width;
  -moz-column-count: $count;
  -moz-column-gap: $gap;
  -webkit-column-count: $count;
  -webkit-column-width: $width;
  -webkit-column-gap: $gap;
  column-count: $count;
  column-width: $width;
  column-gap: $gap;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -o-transition-duration: $duration;
  -moz-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-property ($property) {
  -webkit-transition-property: $property;
  -o-transition-property: $property;
  -moz-transition-property: $property;
  transition-property: $property;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin scale($scale) {
  @include transform(scale($scale));
}
